.link {
	padding: 0.4rem 0.8rem;
	color: #4e5a9c;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	line-height: 30px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	border-bottom: 0px solid #4e5a9c;
}

.link:hover,
.link:active,
.link:focus {
	text-decoration: none;
	color: #864396;
	border-bottom-width: 3px;
	border-bottom-color: #864396;
}
