@import '../../styles/colors.module.css';

.hide {
	display: none;
}

.headerWrapper {
	background-color: var(--primary);
}

.header {
	padding: 36px 0;
	display: flex;
	justify-content: space-between;
}

.header h1,
.header h2 {
	color: var(--font-gray);
}
.header h1 {
	font-size: 4rem;
	margin: 1rem 0;
}

.header h2 {
	margin-bottom: 0.5rem;
}

.logo {
	height: 8rem;
	margin: auto 0;
}

@media (max-width: 540px) {
	.logo {
		display: none;
	}
}

.link {
	display: block;
	margin-bottom: 1rem;
	color: var(--blue);
	font-weight: 600;
	line-height: 30px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.link:hover,
.link:active,
.link:focus {
	text-decoration: none;
	color: var(--purple);
}
