@import '../../shared/styles/colors.module.css';
.body h2 {
	color: var(--font-gray);
	font-size: 26px;
	line-height: 44px;
	margin-bottom: 0;
}

.bodyItem p {
	margin-bottom: 3.5rem;
	line-height: 30px;
	color: var(--font-gray);
}

.body a {
	color: var(--blue);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 30px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.body a:hover,
.body a:active,
.body a:focus {
	text-decoration: none;
	color: var(--purple);
}
