.contentContainer {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	max-width: 900px;
	margin: auto;
	width: 90%;
}

.contentContainer h1,
.contentContainer h2,
.contentContainer h3,
.contentContainer h4,
.contentContainer h5,
.contentContainer h6 {
	font-family: 'Source Serif Pro', serif;
}

.body-item h2 {
	font-size: 26px;
	line-height: 44px;
	margin-bottom: 0;
}

.body-item p {
	margin-bottom: 3.5rem;
	line-height: 29px;
}
