@import './shared/styles/colors.module.css';
.contentContainer {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	max-width: 900px;
	margin: auto;
	width: 90%;
	color: var(--font-gray);
}
p {
	line-height: 30px;
	color: var(--font-gray);
}

.contentContainer h1,
.contentContainer h2,
.contentContainer h3,
.contentContainer h4,
.contentContainer h5,
.contentContainer h6 {
	font-family: 'Merriweather', Georgia, serif;
}

.body-item h2 {
	font-size: 26px;
	line-height: 44px;
	margin-bottom: 0;
}

.body-item p {
	margin-bottom: 3.5rem;
	line-height: 29px;
}

.sans-font {
	font-family: 'Open Sans', sans-serif;
	color: var(--font-gray);
}
.serif-font {
	font-family: 'Merriweather', Georgia, serif;
	color: var(--font-gray);
}
