.App {
	font-family: 'Roboto Slab', serif;
	max-width: 1100px;
	margin: auto;
	width: 90%;
}

.header {
	padding: 36px 0;
}

.header span {
	color: ;
}

.App a {
	color: #969696;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.App a:hover,
.App a:active,
.App a:focus {
	text-decoration: none;
	color: #dc7300;
}

.body-item h2 {
	margin-bottom: 0.3rem;
}

.body-item p {
	margin-bottom: 3.5rem;
}
