@import '../../../styles/colors.module.css';

.link {
	padding: 0.8rem 0.8rem;
	color: var(--blue);
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	line-height: 30px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.link:not(.brand) {
	font-size: 1.15rem;
}

@media screen and (max-width: 540px) {
	.link {
		width: 100%;
		text-align: end;
	}
	.link:not(.brand) {
		padding: 1rem;
		font-size: 1.2rem;
	}
	.brand {
		text-align: start;
		width: auto;
	}
}

.link:hover,
.link:active,
.link:focus,
.link.active {
	text-decoration: none;
	background-color: var(--primary-light);
}

.brand {
	font-family: 'Merriweather', serif;
	font-weight: 700;
	border-bottom: none;
	color: var(--font-gray);
	padding-left: 0;
	font-size: 2.2rem;
}

.brand.active {
	display: none;
}

.brand:hover,
.brand:active,
.brand:focus {
	text-decoration: none;
	color: var(--font-gray-light);
	background-color: unset;
}
